body {
}

::-webkit-input-placeholder{font-size:13px;}

.myTextbox{width:100%;height:42px;padding-left:7px;margin-top:10px;border:1px solid #B2B2B2;}
.myTextbox:focus{border:2px solid #E0FFA3}
.myButton{width:100%;height:38px;text-align:center;line-height:18px;font-size:17px;}
.btn{border:0px solid black;background-color:#333333;}
.btn:focus{background-color:#333333;}
